
.about-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 1rem;
  
  h1,h2{
     
      text-align: center;
      margin-bottom: 20px;
      background: linear-gradient(
          90deg, 
          #f28b71,
          #feb47b);
          border-radius: 8px;
          padding: 10px 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          
        }
    }
.about-content  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-decoration: none;
}

.about-content p{
    
    font-size: 1.2rem;
    line-height: 1.6;
    width: 560px;
    text-align: center;
}
.gallery-section{
    display: block;
    flex-wrap: wrap;
    justify-content: center;


    // p{
    //     margin-bottom: 20px;
    //     text-align: center;
    //     width: 100%;
    // }
}

.gallery {
    display: grid;
    gap: 20px;
   grid-template-columns: 2fr 2fr ;
  
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}