

.product-detail{
    max-width: 1200px;
    margin:40px auto;
    display: flex;
    gap:40px;
    padding: 20px;
    align-items: flex-start;
    
}

.detail-gallery{
    flex:1;
}

.main-image{
    width: 100%;
    max-width: 500px;
    height: 600px;
    object-fit: cover;
    border-radius: 12px;
    border: 1px solid #ddd;
    display: block;
}

.thumbnails{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.thumbnails img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease;

    &:hover{
        border-color:#6c63ff;
        transform: scale(1.05);
    }
}

.detail-info{
    max-width: 500px;
}

.detail-info h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.detail-info h2{
    color: #7b2cbf;
    margin-bottom: 20px;
    font-size:2rem;
}

.category{
    display: inline-block;
    background: #f3f3f3;
    padding: 8px 14px;
    border-radius:20px;
    margin-bottom: 20px;
    font-weight: 600;

}

.description{
    font-size:1.05rem;
    line-height: 1.8;
    color: #555;
    margin-bottom: 25px;
}

.btn-buy{
    background: #a68a56;
    color:azure;
    border: none;
    padding:15px 30px;
    border-radius: 10px;
    cursor:pointer;
    font-size: 1rem;
    transition: .2s;

    &:hover{
        background-color: #e5c38e;
        transform: translateY(-2px);
    }
}

@media (max-width: 768px ) {
    .product-detail{
        flex-direction: column;
    }
    .main-image{
        max-width: 100%;
        height: auto;
    }
    .detail-info h1{
        font-size: 1.8rem;
    }
    .detail-info h2 {
        font-size: 1.5rem;
    }
}
